

{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}{% load static %}

<h2>Shop Categories</h2>
<div class="category-grid">
    {% for category in categories %}
        <div class="category-card">
            <a href="{% url 'products:products' category.id %}">
                <img src="{{ category.image.url }}" alt="{{ category.name }}" class="category-image">
                <h3>{{ category.name }}</h3>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
